/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #31477d;
    --color-bg-primary: #99b4f6;
    --color-hover: #90b0ff;
    --color-secondary: #f26223;
    --color-tertriary: #4070e7;
    --color-fail: #d13f3f;
}
